/GameServer/logs/
/GameServer/ReleaseWin/
/Admin/logs/
/Admin/ReleaseWin/
/LotteryResultSite/logs/
/LotteryResultSite/ReleaseWin/
/Staff/logs/
/Staff/ReleaseWin/
/UserInfoRpc/logs/
/UserInfoRpc/ReleaseWin/
